<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin o Chihuahua</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="main">
        <div class="format">
            <h1>Muffin or Chihuahua?</h1>
        </div>

        <div class="format">
            <form id="fileForm">
                <label for="fileInput" class="format">Upload an image:</label>
                <input type="file" id="fileInput" accept="image/*">
            </form>
        </div>

        <div class="format">
            <button id="submitButton">Predict with AI integrations</button>
        </div>

        <div class="format" id="imageBox">
            <p>No image found.</p>
        </div>
        <div class="format" id="resultBox">
            <p>Result</p>
        </div>
    </div>

    <script>

document.getElementById('submitButton').addEventListener('click', function () {
            document.getElementById('resultBox').scrollIntoView({ behavior: 'smooth' });
        });


        // Seleziona il file input e il contenitore per l'anteprima
        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imageBox');
        const form = document.getElementById('fileForm');
        const resultDiv = document.getElementById('resultBox');

        // Anteprima dell'immagine prima dell'upload
        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];

            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.innerHTML = `<img src="${e.target.result}" alt="Uploaded Image">`;
                };

                reader.readAsDataURL(file);
            } else {
                imagePreview.innerHTML = '<span>Invalid file. Please upload an image.</span>';
            }
        });

        // Gestisci l'invio del form
        form.addEventListener('submit', async function (e) {
            e.preventDefault();

            const formData = new FormData(form);

            // Invia l'immagine via POST al backend Flask
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();

            // Mostra il risultato
            resultDiv.innerHTML = `<h2>${result.label}: ${result.confidence}% confidence</h2>`;
        });



    </script>

</body>

</html>